![Geoffrey Garrett (72 × 20 in) (72 × 14 in)(2)](https://user-images.githubusercontent.com/26066340/153759350-07f01d04-9b6f-4a9a-be25-d24eb343bb6b.gif)

M.Sc. Aerospace Engineering at [Delft University of Technology](https://www.tudelft.nl/en/) 🎓

[![Linkedin: g-h-garrett](https://img.shields.io/badge/-Geoffrey-blue?style=flat-square&logo=Linkedin&logoColor=white&link=https://www.linkedin.com/in/g-h-garrett/)](https://www.linkedin.com/in/g-h-garrett/)
[![ResearchGate](https://img.shields.io/badge/ResearchGate-00CCBB?logo=ResearchGate&logoColor=white)](Https://www.researchgate.net/profile/Geoffrey-Garrett)
[![Medium g.h.garrett](https://img.shields.io/badge/Medium-12100E?logo=medium&logoColor=white)](https://medium.com/@g.h.garrett)
[![GitHub geoffreygarrett](https://img.shields.io/github/followers/geoffreygarrett?label=follow&style=social)](https://github.com/geoffreygarrett)

## My GitHub state 📊
[![README.md 🌀](https://github.com/geoffreygarrett/geoffreygarrett/actions/workflows/update.yml/badge.svg)](https://github.com/geoffreygarrett/geoffreygarrett/actions/workflows/update.yml)

<table>
<tr>
<td width="50%" valign="top">

<h3 align="center"> Open issues 🆘 </h3>

<!-- github issues starts -->
{% for issue in github.open_issues -%}
* [{{ issue.title }}]({{ issue.html_url }}) <br/> <sub>{{ make_html_linked_time(iso_datetime_string_to_datetime(issue.created_at, milliseconds=False)) }} - <a href="{{ issue.user.html_url }}">{{ issue.user.login }}</a> </sub>
{% endfor %}
<!-- github issues ends -->

</td>
<td width="50%" valign="top">

<h3 align="center"> Closed issues ✅ </h3>

<!-- github issues starts -->
{% for issue in github.closed_issues -%}
* [{{ issue.title }}]({{ issue.html_url }}) <br/> <sub>{{ make_html_linked_time(iso_datetime_string_to_datetime(issue.created_at, milliseconds=False)) }} - <a href="{{ issue.user.html_url }}">{{ issue.user.login }}</a> </sub>
{% endfor %}
<!-- github issues ends -->

</td>

</tr>

</table>

<p align="center">
    <a href="https://github-readme-stats.vercel.app/api?username=geoffreygarrett&show_icons=true&include_all_commits=true&theme=light/#gh-light-mode-only">
      <img width="420px"
           alt="stats"
           src="https://github-readme-stats.vercel.app/api?username=geoffreygarrett&show_icons=true&include_all_commits=true&theme=light" />
    </a>
    <a href="https://github-readme-stats.vercel.app/api?username=geoffreygarrett&show_icons=true&include_all_commits=true&theme=dark/#gh-dark-mode-only">
      <img width="420px"
           alt="stats"
           src="https://github-readme-stats.vercel.app/api?username=geoffreygarrett&show_icons=true&include_all_commits=true&theme=dark" />
    </a>
    <a href="https://github-readme-streak-stats.herokuapp.com/?user=geoffreygarrett&theme=light/#gh-light-mode-only">
      <img width="420px"
           alt="geoffreygarrett"
           src="https://github-readme-streak-stats.herokuapp.com/?user=geoffreygarrett&theme=light" />
    </a>
    <a href="https://github-readme-streak-stats.herokuapp.com/?user=geoffreygarrett&theme=dark/#gh-dark-mode-only">
      <img width="420px"
           alt="geoffreygarrett"
           src="https://github-readme-streak-stats.herokuapp.com/?user=geoffreygarrett&theme=dark" />
    </a>
</p>

## Languages I code in 👨‍💻️
![Rust](https://img.shields.io/badge/rust-%23000000.svg?style=for-the-badge&logo=rust&logoColor=white)
![Python](https://img.shields.io/badge/python-3670A0?style=for-the-badge&logo=python&logoColor=ffdd54)
![C++](https://img.shields.io/badge/c++-%2300599C.svg?style=for-the-badge&logo=c%2B%2B&logoColor=white)
![LaTeX](https://img.shields.io/badge/latex-%23008080.svg?style=for-the-badge&logo=latex&logoColor=white)

## Realtime Space Launches 🚀

### Spotlight 💡
The next launch, retrieved from the
<a href="https://thespacedevs.com/">The Space Devs</a>' public API, is the
{{ next_launch.name }} at the
<a href="{{ next_launch.pad.wiki_url }}">{{ next_launch.pad.name }}</a> in
{{ next_launch.pad.location.name }}
<img width="17" src="{{get_country_flag_svg(next_launch.pad.location.country_code)}}" />
at {{ make_html_linked_time(next_launch.datetime) }}. Until
then, this launch pad will have seen {{ next_launch.pad.total_launch_count }}
out of {{ next_launch.pad.location.total_launch_count }} launches in this
region. The mission's status is currently {{ next_launch.status.name }}
({{ next_launch.status.abbrev }}) {{ status_emoji(next_launch.status.abbrev) }} which means:
*{{ first_letter_lower(next_launch.status.description)  }}* {% if mission in next_launch %} The mission type is
{{ next_launch.mission.type }} and the payload will be injected
into {{ add_article_prefix(next_launch.mission.orbit.name) }}
({{ next_launch.mission.orbit.abbrev }}).
{% endif %}
<br>
<blockquote>
  {{ next_launch.mission.description }}
</blockquote>

<p float="left" align="center">
  <a href="{{ next_launch.rocket.configuration.wiki_url }}" >
    <img alt="launch-image" width="49%" src="{{ next_launch.cached_launch_image }}" />
  </a>
  <a href="{{ next_launch.pad.map_url }}" >
    <img alt="pad-location" width="49%" src="{{ next_launch.cached_location_image }}"  />
  </a>
</p>

### Within a month's time 📅

<div align="center">
<table>
<tr>
<td width="50%" valign="top" align="left">

<!-- rocket launches starts -->
{% for launch in parse_launches_within_a_month(ll2.launches) -%}
* {{ status_emoji(launch.status.abbrev) }}  <img width="17" src="{{get_country_flag_svg(launch.launch_service_provider.country_code)}}" /> <b>{{ ensure_name(launch.mission.name) }}</b> from {{ launch.pad.location.name }}. <br/> <sub>{{ make_html_linked_time(launch.datetime) }} - {{ make_google_calender_href_icon(launch) }} </sub>
{% endfor %}
<!-- rocket launches ends -->

<div align="center">
<p align="center">
    <table class="tg">
    <thead>
      <tr>
        <th class="tg-0pky">Symbol</th>
        <th class="tg-0pky">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="tg-0pky">🟩</td>
        <td class="tg-0pky">Go For Launch (Go)</td>
      </tr>
      <tr>
        <td class="tg-0pky">🟨</td>
        <td class="tg-0pky">To Be Confirmed (TBC)</td>
      </tr>
      <tr>
        <td class="tg-0pky">🟧</td>
        <td class="tg-0pky">To Be Determined (TBD)</td>
      </tr>
    </tbody>
    </table>
</p>
</div>

</td>

</tr>

</table>
</div>

## Space feed 🍽️
<table>
<tr>
<td width="50%" valign="top">

<h3 align="center"> Spaceflight news 📅 </h3>

<!-- spaceflight news starts -->
{% for article in sfn.news_articles -%}
* [{{ article.title }}]({{ article.url }}) <br/> <sub>{{ make_html_linked_time(iso_datetime_string_to_datetime(article.publishedAt)) }}</sub>
{% endfor %}
<!-- spaceflight news ends -->

</td>

<td width="50%" valign="top">

<h3 align="center"> Spaceflight blogs ✍️ </h3>

<!-- spaceflight blogs starts -->
{% for article in blogs -%}
* [{{ article.title }}]({{ article.url }}) <br/> <sub>{{ make_html_linked_time(iso_datetime_string_to_datetime(article.publishedAt)) }}</sub>
{% endfor %}
<!-- spaceflight blogs ends -->

</td>

</tr>

</table>


<hr>
  <div align="center">
  This <code>README.md</code> was last auto generated at {{ make_html_linked_time(timestamp) }}
  <br>
  <!-- <a href="https://medium.com/@g.h.garrett" target="_blank">Learn to add space launches to your profile here!</a> -->
</div>
